<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        input {
            margin: 10px 0;
            border: 1px solid ;
        }

        #campo_texto{
            width: 450px;
            height: 36px;
            border-radius: 10px;
            font-size: 18px;
            padding: 0 0 0 10px;
            
        }

        #botao{
            width: 112px;
            height: 36px;
            border-radius: 10px;
            font-size: 18px;
            background-color: white;
            margin-bottom: 60px;
        }

        #botao:hover{
            background-color: #e6e6e6;
        }

        li {
            list-style: none;
            margin: 10px 0;
        }
    </style>
</head>

    <body>
        <form action="" method="POST">
            <h1>Melhores filmes de 2022</h1>
            <input type="text" name="filme" id="campo_texto" placeholder="Digite o nome do filme">
            <input type="submit" id="botao" value="Adicionar">
        </form>
        <ul>
            <h3>Lista de filmes</h3>
            <li>Star Wars</li>
            <li>Star Trek</li>
            <li>Star Gate</li>
        </ul>
    </body>
</html>

{# templates/lucky/number.html.twig #}