*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

li{
    list-style: none;
}

.button{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    cursor: pointer;
}

.button--send {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;

    border-radius: 6px;
    width: 100px;
    height: 30px;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, #00bd4f 0%, #77ffaf 50%, #00bd4f 100%);
    transition: 0.5s;
}

.button--send:hover {
    background-position: right center;
}

.button--remove {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;

    border-radius: 6px;
    width: 100px;
    height: 30px;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, #ed2b2b 0%, #f68686 50%, #ed2b2b 100%);
    transition: 0.5s;
}

.button--remove:hover {
    background-position: right center;
}

.button--transparent{
    background-color: transparent;
}

.container_header{
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px 0 50px 0;
    width: 600px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container_form{
    display: flex;
    gap: 20px;
    margin: 10px 0 20px 0;
}

.container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.item_movie, .movie form, .reviews, .item_review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.item_movie{
    width: 600px;
    margin: 2em 0 1em 0;
    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.movie{
    padding: 2em 0 2em 0;
}

.movie li{
    border: 2px solid blue;
    width: 420px;
}


.reviews{
    margin-bottom: 2em;
}

.reviews li{
    border: 2px solid blue;
    width: 420px;
}

.text_field{
    width: 200px;
    height: 29px;
    padding: 0 0 0 5px;
    border-radius: 5px;
    border: 1px solid rgb(142, 142, 142);

    background-color: transparent;
}